{% extends 'base.html' %}
{% block content %}
    <div class="content">
        {% if query_user_id %}
            <input type="hidden" id="ajax-query-value" value="{{ query_user_id }}">
        {% endif %}
        {% if user.is_authenticated %}
            {% if query_user_id %}
                <div class="ajax-node-usuario perfil-container"></div>
                <div id="ajax-node-feed" data-query="user-{{ query_user_id }}"></div>
            {% else %}
                <div class="ajax-node-usuario-propio perfil-container"></div>
                <div id="ajax-node-feed" data-query="user-{{ request.user.id }}"></div>
            {% endif %}
        {% else %}
            <!--Auth Area-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
                        <h2>¿Ya tienes cuenta? Entra aqui:</h2>
                        <div class="divider-grey"></div>
                        <br>
                        <form method="post">
                            {% csrf_token %}
                            {{ loginForm.as_p }}
                            <button type="submit" name="login-form">Entra</button>
                        </form>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <h2>¿No tienes cuenta? Registrate:</h2>
                        <div class="divider-grey"></div>
                        <br>
                        <form method="post">
                            {% csrf_token %}
                            {{ registroForm.as_p }}
                            <button type="submit" name="registro-form">Registrame</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /Auth Area -->
        {% endif %}
    </div>
{% endblock %}