{% extends 'base.html' %}
{% block content %}
    <div class="content">
        <input type="hidden" id="ajax-group" value="perfil">
        {% if user.is_authenticated == False %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
                        <h2>¿Ya tienes cuenta? Entra aqui:</h2>
                        <div class="divider-grey"></div>
                        <br>                
                        <form method="post">
                            {% csrf_token %}
                            {{ loginForm.as_p }}
                            <button type="submit" name="login-form">Entra</button>
                        </form>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <h2>¿No tienes cuenta? Registrate:</h2>
                        <div class="divider-grey"></div>
                        <br>
                        <form method="post">
                            {% csrf_token %}
                            {{ registroForm.as_p }}
                            <button type="submit" name="registro-form">Registrame</button>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="ajax-node-usuario-propio perfil-container"></div>
        {% endif %}
    </div>
{% endblock %}