@import "./settings.scss";
@import "./feed.scss";

body,html{
    margin: 0px;
    padding: 0px;
    background-color: $theme-pink
}

.nav-sections{
    padding-top: 1rem;
    background-color: $sidebar-nav-bg-color;
    text-decoration: none;  
    .active{
        a{
            color: $theme-blue!important;
            background-color: $theme-pink!important;
        }
    }
    a{
        font-family: $font-roboto;
        font-size: 11pt;
        color: $theme-pink;
        &:hover{
            color: $theme-blue;
        }
    }
}

.title{
    font-family: $font-slavo
}

a{
    font-family: $font-roboto;
    cursor: pointer;
}

.content{
    @if $debug {
        outline:1px solid $debug-grid-color;
    }
    @media (max-width: $break-mobile){
        margin-left:$sidebar-mobile-width;
    }

    @media (min-width: $break-mobile){
        margin-left:$sidebar-desktop-width;
    }
}

[class*="col-"]{
    @if $debug {
        outline:1px solid $debug-grid-color;
    }
}

#sidebar{
    position: fixed;
    height: 100%;
    background-color: $sidebar-bg-color;
    z-index: 10;

    .logo{
        background-image: url('../img/logos/logo-pink-transparent-w150.png');
        background-size: contain;
        background-repeat: no-repeat;
        height:120px;
        width:120px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
    }

    .sidebar-content{
        width: 100%;
    }

    ul{
        color:$sidebar-ul-color;
        padding-left: 0;
        list-style-type: none;
        li{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        p, a, h1, h2, h3, h4{
            padding-left: 30px;
            color:$theme-pink;
        }
        a{
            color:$sidebar-a-color;
            display: block;
            text-decoration: none;
            &:hover{
                background-color:$sidebar-nav-bg-color;
            }
        }
    }
    .sidebar-content{
        display: block;
    }

    @media (max-width: $break-mobile){
        width:$sidebar-mobile-width;
        box-shadow: 1px 0px 2px 0px rgba(18,18,18,1);
        hr{
            display: block;
            color:$sidebar-icon-color;
        }
        .sidebar-nav{
            background-color: $sidebar-nav-bg-color; 
            min-height: $sidebar-mobile-width;
        }
        #toggle-menu{
            color:$sidebar-icon-color;
            padding-left: 10px;
            padding-top: 10px;
            font-size: 22px;
            display:block;
        }
        #close-menu{
            color:$sidebar-icon-color;
            font-size: 22px;
            float: right;
            margin-top: -20px;
            margin-right: 12px;
            display: none;
        }
        .sidebar-content{
            display: none;
        }
        #toggle-menu{
            display: block;
        }
        #close-menu{
            display: none;
        }
        hr{
            display: block;
        }
    }

    @media (min-width: $break-mobile){
        width:$sidebar-desktop-width;
        #toggle-menu{
            display: none;
        }
        #close-menu{
            display: none;
        }
        hr{
            display: none;
        }
    }
}