//Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Slabo+27px');
$font-roboto: 'Roboto', sans-serif;
$font-slavo: 'Slabo 27px', serif;
$font-open-sans: 'Open Sans', sans-serif;

//Colors
$color-theme-pink:#f8d4d3;

//Break Points
$mobile-min-width : 414px;

