.feed{
    .list-group-item-heading{
        font-family: $font-slavo;
    }
    .pet-portrait{
        background-position: center;
        background-size: 100%;
        background-repeat: no;
        float: left;
        margin-right: 2rem;
        border-radius: 0.7rem;
        @media (max-width: $break-mobile){
            height: $thumb-small;
            width: $thumb-small;
        }        
        @media (min-width: $break-mobile){
            height: $thumb-large;
            width: $thumb-large;        
        }
    }
    .pet-container{
        background-color: white;
        padding: 1rem;
        @media (max-width: $break-mobile){
            margin-top:0.5rem;
            border-radius: 0rem;
        }
        @media (min-width: $break-mobile){
            margin-top: 2rem;
            border-radius: 1rem;
        }
        mark{
            background-color: transparent;
            text-decoration: none;
            color: $theme-blue;
        }
        h3{
            overflow: hidden;
            max-width: 11rem;
        }
        .description-small{
            @media (max-width: $break-mobile){
                display: block;
            }        
            @media (min-width: $break-mobile){
                display: none;
            }        
        }
        .pet-info{
            @media (max-width: $break-mobile){
                display: none;
            }        
            @media (min-width: $break-mobile){
                display: block;
                width: 18rem;
                float: left;
            }
        }
        .pet-description{
            @media (max-width: $break-mobile){
                max-height: 7rem;
                overflow: hidden;
                width: 100%;         
            }
            @media (min-width: $break-mobile){
                max-height: 9rem;
                overflow: hidden;
                margin-left: 2rem;
                float:rigth;
            }  
        }
        .list-group-item-text{
            @media (max-width: $break-mobile){
                font-size: 10pt;
            }        
        }
        .date{
            color: $theme-blue;
            @media (max-width: $break-mobile){
                margin-top: 0.5rem; 
                font-size: 11pt;
            }        
            @media (min-width: $break-mobile){
                float: right;
                margin-top: -3rem;
            }
        }
        @media (max-width: $break-mobile){
            min-height: 12.5rem;
        }        
        @media (min-width: $break-mobile){
            min-height: 19.5rem;
        }
    }
}

