{% extends 'base.html' %}
{% block content %}
    <input type="hidden" id="ajax-group" value="reporta">
    <div class="content">
        {% if user.is_authenticated %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>Reporta una mascota extraviada</h2>
                    </div>
                </div>
                <div class="divider-white"></div>
                <br>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Reporta Mascota</button>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <!-- ... -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2><a href="{% url 'perfil' %}">Entra o registrate para reportar una mascota</a></h2>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}