//CSS Dependencies 
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

//Custom Sheets
@import './lib/sidebar.scss';
@import './lib/loader.scss';
@import './lib/feed.scss';
@import './lib/usuario.scss';

$theme-grey:#212121;

body{
    background-color: #EEEEEE;
}

.divider-white{
    width: 100%;
    height: 1px;
    background-color: #424242;
}

.divider-grey{
    width: 100%;
    height: 1px;
    background-color: $theme-grey
}

.divider-blue{
    width: 100%;
    height: 1px;
    background-color: $sidebar-bg-color;
}

mark{
    background-color: transparent;
}