<!-- if app needs auth use container -->
<div id="auth-area" class="container-fluid">
    <div id="auth-header" class="row">
        <p class="auth-legend"><a class="auth-legend">Login or Register</a></p>
        <span class="glyphicon glyphicon-remove-circle auth-close"></span>
    </div>
    <div class="row auth-content">
        <!--Auth forms and what not -->
        <div class="col-md-6 col-sm-6 col-xs-6"><h4>Do you have an account? Login</h4></div>
        <div class="col-md-6 col-sm-6 col-xs-6"><h4>First time? Create a new account</h4></div>
    </div>
</div>
<!--/ Auth-area -->