{% load static %}
<div class="row">
    <!-- Pet Container -->
    <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 pet-container">
        <div class="pet-portrait" style="background-image:url('{% static 'img-storage/thumb-placeholder.png'%}')"></div>
        <h3 class="list-group-item-heading">{{ mascota.nombre }}</h3>
        <h4 class="list-group-item-heading date"><span class="glyphicon glyphicon-calendar"></span>: {{ mascota.creado }}</h4>
        <div class="description-small">
            <p class="list-group-item-text">Especie: <mark>{{ mascota.especie }}</mark></p>
            <p class="list-group-item-text">Raza: <mark>{{ mascota.raza }}</mark></p>
            <p class="list-group-item-text">Genero: <mark>{{ mascota.genero }}</mark></p>
            <p class="list-group-item-text">Años de edad: <mark>{{ mascota.edad_años }}</mark></p>
            <p class="list-group-item-text">Color: <mark>{{ mascota.color }}</mark></p>  
        </div> 
        <hr>
        <div class="pet-info">
            <p class="list-group-item-text">Especie: <mark>{{ mascota.especie }}</mark></p>
            <p class="list-group-item-text">Raza: <mark>{{ mascota.raza }}</mark></p>
            <p class="list-group-item-text">Genero: <mark>{{ mascota.genero }}</mark></p>
            <p class="list-group-item-text">Años de edad: <mark>{{ mascota.edad_años }}</mark></p>
            <p class="list-group-item-text">Color: <mark>{{ mascota.color }}</mark></p>        
        </div>
        <div class="pet-description">
            <p class="list-group-item-text">{{ mascota.señas }}</p>        
        </div>
    </div>
    <!-- User Container -->
</div>