<div id="sidebar">
    <div class="sidebar-nav">
        <span class="glyphicon glyphicon-menu-hamburger sb-toggle"></span>
        <span class="glyphicon glyphicon-remove-circle sb-close"></span>
        <hr>
    </div>
    <div class="sidebar-content">
        <div class="logo"></div>
        <ul class="sidebar-ul">
            <li><h3 class="title">Proyecto EMA</h3></li>
            <li><a href="#"></a></li>
        </ul>
        <br>
        <div class="ajax-node-usuario-propio"></div>
    </div>
</div>