<div id="sidebar">
    <div class="sidebar-nav">
        <span id="toggle-menu" class="glyphicon glyphicon-menu-hamburger"></span>
        <span id="close-menu" class="glyphicon glyphicon-remove-circle"></span>
        <hr>
    </div>
    <div class="sidebar-content">
        <div class="logo"></div>
        <ul class="sidebar-ul">
            <li><h3 class="title">STRAYMAP</h3></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</div>