{% load static %}
{% include 'partials/header.html' %}

{% include 'widgets/sidebar.html' %}

<div class="content">
    <div class="container-fluid">

        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">hey hey hey</p>
          </a>
        </div>

        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">hey hey hey</p>
          </a>
        </div>

        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">List group item heading</h4>
            <p class="list-group-item-text">hey hey hey</p>
          </a>
        </div>
    </div>
</div>

{% include 'partials/footer.html' %}