{% extends 'base.html' %}
{% block content %}
<div class="content">
    <input type="hidden" id="ajax-group" value="home">
    {% if user.is_authenticated == False %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2><a href="{% url 'perfil' %}">Entra o registrate para reportar una mascota</a></h2>
                    </div>
                </div>
            </div>
    {% endif %}
    <br>
    <div id="ajax-node-feed"></div>
</div>
{% endblock %}